<plugin name='xmpp' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>Fábio Franco Uechi</author>
  <authorEmail>fabio.uechi@gmail.com</authorEmail>
  <title>Plugin summary/headline</title>
  <description>\
Eases the development of real-time web applications. Built upon the Smack API
and provide IM based services to grails application.
</description>
  <documentation>http://grails.org/GrailsXmpp+Plugin</documentation>
  <resources>
    <resource>org.grails.xmpp.XmppController</resource>
    <resource>DefaultXmppBot</resource>
    <resource>TesteXmppBot</resource>
    <resource>XmppBootStrap</resource>
    <resource>UrlMappings</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>org.grails.xmpp.XmppService</resource>
    <resource>org.grails.xmpp.MyService</resource>
    <resource>org.grails.xmpp.PogoTestService</resource>
  </resources>
  <dependencies>
    <plugin name='services' version='1.1' />
  </dependencies>
</plugin>