<plugin name='xmpp' version='0.2' grailsVersion='1.1 &gt; *'>
  <author>Fábio Franco Uechi</author>
  <authorEmail>fabio.uechi@gmail.com</authorEmail>
  <title>Grails XMPP Plugin</title>
  <description>\
Provides XMPP/Jabber based services to grails applications. Built upon the Smack API this plugin allows
an application to send and receive xmpp packets (presence, message, etc). Basically it creates a Roster 
which automatically connects, to a pre configured host, at application startup. All the mentioned xmpp 
services rely upon this Roster. Eases the development of real-time web applications.
One of the main features is the ability to expose methods as commands (method name = command) making it 
easier to develop XmppBots, for example.
Another feature is auto-detection of PacketListeners and RosterListeners.
</description>
  <documentation>http://grails.org/plugin/xmpp</documentation>
  <resources>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>XmppBootStrap</resource>
    <resource>org.grails.xmpp.XmppController</resource>
    <resource>org.grails.xmpp.DefaultXmppBotService</resource>
    <resource>org.grails.xmpp.PacketListenerImplementerService</resource>
    <resource>org.grails.xmpp.PogoTestService</resource>
    <resource>org.grails.xmpp.RosterListenerImplementerService</resource>
    <resource>org.grails.xmpp.XmppService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>